@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "styles/global/_mixins.scss";
.images {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 3em;
  @include media(phone) {
    position: relative;
    align-items: center;
  }
}
