@import "/styles/global/_mixins.scss";

.Reviews {
  position: relative;

  padding-top: 10%;
  display: flex;
  flex-direction: row;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 5%;
  justify-content: space-around;
  overflow-y: scroll;
  @include media(tablet) {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    padding: 15% 10%;
  }

  &__Coma {
    z-index: -1;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 6%;
    opacity: 0.5;
    @include media(phone) {
      width: 70px;
    }
  }
  &__Bigger {
    width: 445px !important;

    @include media(phone) {
      width: auto !important;
    }
  }

  &__Text {
    max-width: 445px;

    @include media(phone) {
      position: static;
    }
  }
  &__Title {
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    color: #f8f8f8;

    @include media(phone) {
      font-size: 36px;
      line-height: 50px;
    }
  }
  &__Description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #9f9f9f;
  }

  &__Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 80px;
    @include media(phone) {
      flex-direction: column;
      margin: 0;
    }

    @include media(tablet) {
      margin-top: 11%;
      margin-left: 0;
    }
  }

  &__Second {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
