@import "/styles/global/_mixins.scss";

.offers {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
}
.icons {
  width: 30px;
  height: 30px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
