@import "styles/global/_mixins.scss";

.SubTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  // color: #17181a;
  color: #b9b9b9;
  margin-top: 20px;
  @include media(phone) {
    display: none;
  }
}
