@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "styles/global/_mixins.scss";
.main {
  padding: 150px 6%;
  position: relative;

  @include media(phone) {
    padding: 75px 10%;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.image2 {
  position: absolute;
  left: 12.64%;
  right: 82.64%;
  top: 3.5%;
}
.image {
  position: absolute;
  top: -55px;
  left: 1%;
  animation: float 1s infinite ease-in-out alternate;
  animation-delay: 0.3s;
  @include media(phone) {
    display: none;
  }
  @include media(tablet) {
    display: none;
  }
}
@keyframes float {
  100% {
    transform: translateY(5px);
  }
}

.buttonBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  @include media(phone) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.textBlock {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 25px;

  height: 400px;
}
.title {
  font-style: normal;
  text-indent: 76px;
  font-weight: 700;
  font-size: 90px;
  line-height: 104px;
  color: #f8f8f8;
  text-transform: uppercase;
  margin-left: 10%;
  max-width: 900px;
  @include media(phone) {
    text-indent: 0;
    margin-left: 0;
    font-size: 36px;
    line-height: 50px;
  }
  @include media(tablet) {
    margin-left: 0;
  }
}
.description {
  max-width: 431px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #a7a7a7;

  margin-bottom: 15px;
  @include media(phone) {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  @include media(phone) {
    width: 100%;
  }
}
//
.arrow {
  width: 25px;
  margin-left: 12px;
  fill: #f8f8f8;
}
.buttonPrices {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background: #5d5fef;
  padding: 11px 20px;
  color: #f8f8f8;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  height: 50px;
  border-bottom: 2px solid #3cba79;
  border-radius: 30px;
  transition: all 0.25s ease;
  &:hover {
    transform: translateY(-6px);
    background: #35a36a;
    box-shadow: 0 0 15px -2px #00ff7b;
  }
  @include media(phone) {
    display: none;
  }
}
.buttonForm {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #5d5fef;
  padding: 15px 20px;
  color: #f8f8f8;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border-bottom: 2px solid rgba(0, 112, 240, 0.9);
  border-radius: 30px;
  transition: all 0.25s ease;
  &:hover {
    transform: translateY(-6px);
    background: rgba(0, 112, 240, 0.9);
    box-shadow: 0 0 15px -2px rgba(0, 112, 240, 0.9);
  }
  @include media(phone) {
    display: none;
    width: 100%;
    border: 1px solid rgba(0, 112, 240, 0.9);
  }
}
