@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
a {
  text-decoration: none;
}
body {
  //background-color: #fafbfc;

  background-color: #101010;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  word-spacing: 2px;
}
