@import "/styles/global/_mixins.scss";

.Item {
  max-width: 415px;
  min-height: 600px;
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;

  border-radius: 12px;
  padding: 48px 76px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: flex-start;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s ease;
  &:hover {
    box-shadow: 0 0 15px 2px #0410f0;
    border: 0.5px solid #0410f0;
    transform: translateY(-20px);
  }
  @include media(phone) {
    width: 100%;
    padding: 45px;
  }
}
.Item_p {
  max-width: 415px;
  min-height: 650px;
  border-top: #fcd980 2px solid;
  border-bottom: #fcd980 2px solid;

  border-radius: 12px;
  padding: 48px 76px;
  display: flex;
  flex-direction: column;
  gap: 75px;
  transform: translateY(-20px) scale(1.02);
  justify-content: flex-start;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  transition: all 0.25s ease;
  &:hover {
    transform: translateY(-30px) scale(1.02);
    box-shadow: 0 0 15px 2px #fcd980;
  }
  @include media(phone) {
    transform: none;
    width: 100%;
    padding: 45px;
  }
}

.PriceTitle {
  margin-bottom: 20px;
}

.Price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.PriceValue {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;

  color: #f8f8f8;
}
.PriceValue_p {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;

  color: #ffff;
}
.PriceSpan {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #50b1fb;
}
.PriceSpan_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fcd980;
}
.Title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #f8f8f8;
}
.Title_p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffff;
}
.Description {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #9f9f9f;
  opacity: 0.7;
}
.Description_p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.7;
}
.ItemsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ButtonBlock {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px;
  gap: 10px;

  width: 254px;
  height: 64px;
  border-bottom: 1px solid #111bd4;
  border-radius: 41px;
  transition: all 0.25s ease;
  &:hover {
    background: #111bd4;
    box-shadow: 0 0 15px 2px #007acc;
  }

  @include media(tablet) {
    border: 1px solid #111bd4;
    width: 100%;
  }
}
.ButtonBlock_p {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 254px;
  height: 64px;
  border-bottom: 1px solid #fcd980;

  border-radius: 41px;
  border-radius: 41px;
  transition: all 0.5s ease;
  &:hover {
    background-color: #fcd980;
    box-shadow: 0 0 15px -2px #fcd980;
    border: 1px solid #f2ad00;
    .Button_p {
      color: #282938;
    }
  }
  @include media(tablet) {
    width: 100%;
    border: 1px solid #f2ad00;
  }
}

.Button {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  color: #f4f6fc;
}
.Button_p {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #f4f6fc;
}
