@import "styles/global/_mixins.scss";
.buttonsNav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;

  @include media(phone) {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
  }
}
